<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fourello.icare" >

    <supports-screens android:smallScreens="false"
        android:normalScreens="false"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:requiresSmallestWidthDp="600" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".ICareApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSignupActivity"
            android:label="@string/title_activity_login_signup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SyncParentDataActivity"
            android:label="@string/title_activity_sync_data"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".DashboardDoctorFragmentActivity"
            android:label="@string/title_activity_doctor_dashboard_fragment_activity"
            android:screenOrientation="portrait" >
        </activity>
        <!--<activity
            android:name=".Dashboard_DoctorActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>-->


        <activity
            android:name=".AddUserActivity"
            android:label="@string/title_activity_add_user" >
        </activity>

        <activity
            android:name=".DashboardParentFragmentActivity"
            android:label="@string/title_activity_parent_dashboard_fragment_activity"
            android:screenOrientation="portrait" >
        </activity>

    </application>

</manifest>
